
body{

  background-color: silver
}

h1{
  text-align: center;
  border-bottom: 2px solid salmon;
}

.wrapper{
  margin-top: 20px ;
  margin-bottom: 30px ;
  padding-left: 2em;
  padding-right: 2em;
  margin-right: auto;

}


.box{
display: inline-block;
 padding: 8px;

 border: 1px solid grey;
}

.green{
background-color:  green;
}
.orange{
background-color: orange;
}

.blue{
background-color: blue;
}
